nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: gray;
      position: fixed;
      top: 0;
      width: 100%;
    }
    
 nav ul li {
      float: left;
    }
    
  nav ul li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
 nav ul li a:hover:not(.active) {
      background-color: #4b79a1;
    }
    
    .active {
      background-color: teal;
    }
 .image{
   margin-left: 45%;
 }   
#interest{
  text-align: center;
}
#hobbies{
  text-align: center;
}
ul{
  list-style: none;
}
#education{
  text-align: center;
}
#project{
  text-align: center;
}
.projects{
  display:flex;
  justify-content: space-around;
  padding: 5%;
}
#footer{
  text-align: center;
  background-color: teal;
}
.image{
  border-radius: 100%;
  align-items: center;
  max-width: 500px;
}
.vio{
  text-align: center;
}
#waithera{
  background: linear-gradient(to bottom, #4b79a1, #283e51); 
}